*{
   padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text{
    width: 80%;
    margin:0 auto;
}
.image{
    width: 100%;
    min-height: 100vm; 
    display: flex;
    align-items: center;
}
.image img{
    flex-basis: 25%;
    padding: 20px 20px;
    height: auto;
    width: 100%;
}